<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="80b678">  <td>20/01/31 11:45:15</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Ejercicio1.acceptMl()[pri:0, instance:restAssured.Ejercicio1@6c49835d]">acceptMl</td> 
  <td>main@1752203484</td>   <td></td> </tr>
<tr bgcolor="80b678">  <td>20/01/31 11:45:18</td>   <td>2229</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Ejercicio1.testBody()[pri:0, instance:restAssured.Ejercicio1@6c49835d]">testBody</td> 
  <td>main@1752203484</td>   <td></td> </tr>
<tr bgcolor="80b678">  <td>20/01/31 11:45:18</td>   <td>2816</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Ejercicio1.test_01()[pri:0, instance:restAssured.Ejercicio1@6c49835d]">test_01</td> 
  <td>main@1752203484</td>   <td></td> </tr>
<tr bgcolor="80b678">  <td>20/01/31 11:45:18</td>   <td>3043</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Ejercicio1.verifCurrency()[pri:0, instance:restAssured.Ejercicio1@6c49835d]">verifCurrency</td> 
  <td>main@1752203484</td>   <td></td> </tr>
</table>
